table {
    border-bottom: 1px solid lightgray;
    width: 500px;
    border-collapse: collapse;
}

tr {
    height: 25px;
}

tr:nth-child(2n) {
    background-color: #eaecef;
}

thead tr {
    background-color: #2eb51c;
    color: white;
    text-align: left;
    font-size: 0.8em;
    ;
}

th, td {
    border-right: 1px solid lightgray;
    padding-left: 5px;
    font-family: fantasy;
}

tr td:last-child {
    border-right: none;
}

th {
    font-weight: normal;
}

td {
    font-size: 0.8em;
    height: 25px;
    border-bottom: 1px solid lightgray;
}

th.name {
    width: 100px;
}

th.city {
    width: 80px;
}

th.country {
    width: 90px;
}

th.promoted {
    width: 70px;
}

.flag {
    width: 15px;
    height: 10px;
    margin-right: 3px;
}
/* 
input[type='checkbox'] {
    background-color: #d9dadd;
    width: 13px;
    height: 13px;
    margin: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: -2px -2px 1px gray;
} */
