body {
    background-color: #a3d7e0;
}

ul {
    list-style-type: disc;
}

dt {
    font-style: italic;
}

img {
    width: 180px;
    height: 180px;
    border: 1px solid;
}

hr {
    border: 1px solid #bbbec1;
}

.info {
    font-weight: bold;
}