table.outer {
    width: 500px;
    border: 1px solid lightslategray;
    background: #ebf1f6;
    background: -moz-linear-gradient(top, #ebf1f6 0%, #d5ebfb 28%);
    background: -webkit-linear-gradient(top, #ebf1f6 0%, #d5ebfb 28%);
    background: linear-gradient(to bottom, #ebf1f6 0%, #d5ebfb 28%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=0);
}

input.result {
    margin-top: 9px;
    margin-left: 5px;
    width: 97%;
    height: 60px;
    border-radius: 5px;
    text-align: right;
    font-size: 1.6em;
    background: #cfe7f7;
    background: -moz-linear-gradient(top, #cfe7f7 3%, #f2f6f8 55%);
    background: -webkit-linear-gradient(top, #cfe7f7 3%, #f2f6f8 55%);
    background: linear-gradient(to bottom, #cfe7f7 3%, #f2f6f8 55%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7f7', endColorstr='#f2f6f8', GradientType=0);
}

table.inner {
    background: #ebf1f6;
    background: -moz-linear-gradient(top, #ebf1f6 0%, #d5ebfb 28%);
    background: -webkit-linear-gradient(top, #ebf1f6 0%, #d5ebfb 28%);
    background: linear-gradient(to bottom, #ebf1f6 0%, #d5ebfb 28%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=0);
    margin-top: 3px;
    margin-left: 5px;
    width: 98%;
    border-radius: 5px;
    border: 1px solid lightslategray;
    font-size: 0.9em;
}

input[type='button'] {
    width: 40px;
    height: 33px;
    margin: 0px;
    text-align: center;
}

input[value='0'] {
    width: 90px;
}

input[value='='] {
    height: 75px;
}

label {
    font-size: 0.8em;
}

table.numeric, table.type {
    border: 1px solid lightgrey;
    width: 75px;
    margin-left: 5px;
}

input[type='button']:hover, input.sem-active:hover {
    background: -webkit-linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
    background: -moz-linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
    background: -o-linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
    background: -ms-linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
    background: linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
}