div.container {
    width: 1080px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 25px;

    h4 {
        margin-left: 30px;
    }

    ul {
        list-style-type: none;
        margin-bottom: 5px;

        li a {
            color: black;
            text-decoration: none;           
        }

        li:first-of-type a {
            font-weight: bold;
            color: brown;
        }
    }
}

main {
    width: 650px;
    height: 740px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    margin-top: 5px;

    h3 {
        padding-left: 5px;
        font-size: 1.3em;
    }

    button {
        width: 120px;
        height: 25px;
        margin-left: 5px;
        background-color: white;
        border: 1px solid black;
        font-size: 0.8em;
    }
}

section {
    header {
        background-color: #96918b;
        color: white;
        font-weight: bold;
        padding-left: 7px;
        margin-top: 5px;
    }
}

main {
    section {
        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

main {
    section {
        p {
            padding-left: 5px;
        }

        div.tutorial {
            height: 140px;

            img {
                width: 170px;
                height: 100px;
                margin-top: 20px;
                margin-left: 5px;
            }

            p {
                font-size: 1.0em;
                font-weight: bold;
            }
        }

        a {
            color: brown;
            margin-left: 10px;
        }
    }
}

div.examples, div.reference, div.quiz {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

main {
    hr {
        height: 1px;
        width: 100%;
        background-color: darkgray;
    }
}

aside {
    width: 195px;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-top: 1px;
    text-align: center;
    font-size: 1.1em;

    section {
        a {
            color: brown;
        }

        div {
            border: 1px solid darkgray;
            padding-bottom: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        form {
            margin-top: 8px;
            input {
                margin-left: 15px;
            }
        }

        div.styles {
            button {
                width: 140px;
                height: 40px;
                font-size: 1.1em;
                background: #79c8ea;
                background: -moz-linear-gradient(left, #79c8ea 0%, #e4f5fc 14%, #e4f5fc 89%, #7cc9ea 100%);
                background: -webkit-linear-gradient(left, #79c8ea 0%, #e4f5fc 14%, #e4f5fc 89%, #7cc9ea 100%);
                background: linear-gradient(to right, #79c8ea 0%, #e4f5fc 14%, #e4f5fc 89%, #7cc9ea 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79c8ea', endColorstr='#7cc9ea', GradientType=1);
                color: #65dff7;
                margin-left: 30px;
                margin-top: 2px;
            }
        }
    }
}

div.search { 
    a {
        padding-top: 5px;
        font-size: 1.0em;
    }

    form {
        button.btn {
            width: 32px;
            height: 25px;
            background-color: white;
            font-size: 0.7em;
        }
    }
}