@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');

article {
    color: #0094ff;
    font-family: Consolas, Edwardian Script ITC;
    font-size: 1.3em;
}

article::first-line {
    font-weight: 600;
}

article::first-letter {
    font-size: 2.7em;
    font-family: 'Lovers Quarrel', cursive;
}
