div.container {
    width: 780px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 8px;
}

nav {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
}

nav a {
    font-size: 1.5em;
    font-weight: 600;
    color: #2dc5fc;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 3px;
}

div.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 9px; 
}

section.laptops {
    width: 530px;
    height: 430px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

fieldset {
    margin-left: 8px;
    margin-right: 5px;
}

fieldset legend {
    text-align: center;
}

fieldset img {
    width: 120px;
}

div.info {
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.info span {
    padding-left: 10px;
}

section.pricing {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;  
}

form label {
    display: block;
}

form input {
    padding-top: 15px;
}