main {
    width: 430px;
    background-color: #edeff2;
    border-radius: 5px;
    padding-bottom: 3px;
}

header {
    font-size: 1.3em;
    margin-left: 13px;
    margin-bottom: 25px;
    padding-top: 5px;
    font-family: "Courier New", Courier, monospace;
}

article {
    background-color: #fcfdff;
    border: 1px solid darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
}

article div:first-of-type {
    font-size: 0.9em;
    font-family: Tahoma, Geneva, sans-serif;
}


img {
    width: 160px;
    height: 105px;
    display: inline-block;
    border: 1px solid darkgray;
}

button {
    width: 65px;
    height: 25px;
    text-align: center;
    color: white;
    background: #7f1d0c;
    background: -moz-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: -webkit-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: linear-gradient(to right, #7f1d0c 24%, #f6290c 25%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1d0c', endColorstr='#f6290c', GradientType=1);
}