.container {
    background-color: #EEEEEE;
    width: 33%;
}
 
.category {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
}
 
img {
    margin: 20px;
    width: 180px;
    height: 100px;
}
 
p {
    font-size: 0.9em;
} 

div.category button {
    float: right;
    margin-right: 3px;
    width: 70px;
    height: 28px;
    color: white;
    background: #7f1d0c;
    background: -moz-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: -webkit-linear-gradient(left, #7f1d0c 24%, #f6290c 25%);
    background: linear-gradient(to right, #7f1d0c 24%, #f6290c 25%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1d0c', endColorstr='#f6290c', GradientType=1);
}